{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="form-group">
    <div class="col-sm-3">
        {{ form_label(form.content, "Commentaire:", {'attr': {'class': ''}}) }}
    </div>
    {{ form_errors(form.content) }}
    <div class="col-sm-9">
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        {{ form_label(form.username, "Nom:", {'attr': {'class': 'control-label'}}) }}
    </div>
    {{ form_errors(form.username) }}
    <div class="col-sm-9">
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        {{ form_label(form.email, "Adresse email:", {'attr': {'class': 'control-label'}}) }}
    </div>
    {{ form_errors(form.email) }}
    <div class="col-sm-9">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
