<div class="mg-l-50">
    {% if comment.children is not empty %}
        {% for child in comment.children %}
            <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
            <div class="col-md-10 mg-b-50">
                <div class="background-color-clouds pd-10">
                    <p class="mg-0">Commentaire de <span class="text-bold">{{ child.username }}</span> le {{ child.getCreatedAt()|date("d/m/Y H:i") }}
                        <a href="#" class="reportComment float-right" class="mg-l-15" title="Signaler ce commentaire comment étant inapproprié" onclick="setReport({{ child.id }})"><i class="glyphicon glyphicon-alert"></i></a>
                    </p>
                    <p>{{ child.content }}</p>
                    {% if depth < 2 %}<p><a href="#" data-toggle="modal" data-target="#{{ child.id }}resp">Répondre</a></p>{% endif %}
                </div>
            </div>
            <div class="modal fade" id="{{ child.id }}resp" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Répondre à ce commentaire</h4>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('BlogBundle:Post:addCommentResponse', {id: child.post.id, comment_parent_id: child.id})) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ render(controller('BlogBundle:Post:recursiveComment', {comment: child, depth: depth + 1})) }}
        {% endfor %}
    {% endif %}
</div>