{% extends("::layout/layout.html.twig") %}

{% block body %}
    <header class="intro-header" style="background-image: url('{{ asset('img/post-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.name }}</h1>
                        <span class="meta">
                            Posted by <a href="{{ path('author_show', {id: post.user.id}) }}">{{ post.user.username }}</a> on
                            {{ post.createdAt|date("m/d/Y") }} in <a href="{{ path('category_show', {id: post.category.id}) }}">{{ post.category.name }}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading">Sous-titres</h2>
                    <p>{{ post.content|raw }}</p>
                </div>
            </div>
        </div>
    </article>
    <hr>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-dismissible alert-success" id="success" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <h3>{{ post.comments|length }} Commentaire{% if post.comments|length > 0 %}s{% endif %}</h3>
                    <div class="row">
                        {# First loop #}
                        {% for comment in post.comments %}
                            {% if comment.parent is null %}
                                <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                <div class="col-md-10">
                                    <div style="background-color: #ecf0f1;">
                                        <p style="margin: 0px;">Commentaire de <span style="font-weight: bold;">{{ comment.username }}</span> le {{ comment.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                        <p>{{ comment.content }}</p>
                                        <p><a href="#add-comment-form" data-toggle="modal" data-target="#{{ comment.id }}resp">Répondre</a></p>
                                    </div>
                                </div>
                                <div style="margin-left: 50px;">
                                {# Second loop #}
                                {% for commentChild in comment.children %}
                                    <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                    <div class="col-md-10">
                                        <div style="background-color: #ecf0f1;">
                                            <p style="margin: 0px;">Commentaire de <span style="font-weight: bold;">{{ commentChild.username }}</span> le {{ commentChild.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                            <p>{{ commentChild.content }}</p>
                                            <p><a href="#add-comment-form" data-toggle="modal" data-target="#{{ commentChild.id }}resp">Répondre</a> </p>
                                        </div>
                                    </div>
                                    <div style="margin-left: 50px;">
                                    {# Third loop #}
                                    {% for commentSubChild in commentChild.children %}
                                        {% if commentSubChild is not empty %}
                                            <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                            <div class="col-md-10">
                                                <div style="background-color: #ecf0f1;">
                                                    <p style="margin: 0px;">Commentaire de <span style="font-weight: bold;">{{ commentSubChild.username }}</span> le {{ commentSubChild.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                                    <p>{{ commentSubChild.content }}</p>
                                                    <p><a href="#add-comment-form"  data-toggle="modal" data-target="#{{ commentSubChild.id }}resp">Répondre</a> </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {# End third loop #}
                                        <div class="modal fade" id="{{ commentSubChild.id }}resp" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title text-center">Répondre à ce commentaire</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ render(controller('BlogBundle:Post:addCommentResponse', {id: post.id, comment_parent_id: commentSubChild.id})) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {# End Second loop #}
                                    <div class="modal fade" id="{{ commentChild.id }}resp" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title text-center">Répondre à ce commentaire</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ render(controller('BlogBundle:Post:addCommentResponse', {id: post.id, comment_parent_id: commentChild.id})) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {# End First loop #}
                            <div class="modal fade" id="{{ comment.id }}resp" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-center">Répondre à ce commentaire</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ render(controller('BlogBundle:Post:addCommentResponse', {id: post.id, comment_parent_id: comment.id})) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <h3>Vos Commentaires</h3>
                    <div style="margin-top: 50px;">
                        {{ render(controller('BlogBundle:Post:addComment', {id: post.id})) }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function(){
            $("#success").fadeIn(2000);
        })
    </script>
{% endblock %}