{% extends("::layout/layout-home.html.twig") %}

{% block body %}
    {# Start container #}
    <div class="container">
        <a href="{{ path('admin_show') }}" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste d'article</a>
        <h1>Espace d'administration</h1>
        {# Start first row #}
        <div class="row">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.name, "Titre") }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.category, "Catégorie") }}
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.user, "Auteur") }}
                    {{ form_errors(form.user) }}
                    {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.content, "Contenu") }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        {# End first row #}

        {# Comments section start 2nd row #}
        <div class="row">
            {# Nav tabs #}
            <div class="alert alert-dismissible alert-success display-none" id="deleteSuccess">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Le commentaire a été supprimé avec succès !
            </div>
            <ul class="nav nav-tabs mg-t-50">
                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Voir tous les commentaires ({{ post.comments|length }})</a></li>
                <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Voir les commentaires les plus signalés ({{ commentReport|length }})</a></li>
            </ul>
            {# Tabs content #}
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <div class="col-md-12"><h3>{{ post.comments|length }} Commentaire{% if post.comments|length > 1 %}s{% endif %}</h3></div>
                    {# First loop #}
                    {% for comment in post.comments %}
                        {% if comment.parent is null %}
                            <div id="{{ comment.id }}">
                                <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                <div class="col-md-10 mg-b-50">
                                    <div class="background-color-clouds pd-10">
                                        <p class="mg-0">Commentaire de <span class="text-bold">{{ comment.username }}</span> le {{ comment.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                        <p>{{ comment.content }}</p>
                                        <p><i class="glyphicon glyphicon-alert"></i> {{ comment.report }}</a></p>
                                        <p><a href="#" class="reportComment color-red" onclick="deleteComment({{ comment.id }})">Supprimer ce commentaire</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-l-50">
                                {# Second loop #}
                                {% for commentFirstChild in comment.children %}
                                    <div id="{{ commentFirstChild.id }}">
                                        <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                        <div class="col-md-10 mg-b-50">
                                            <div class="background-color-clouds pd-10">
                                                <p class="mg-0">Commentaire de <span class="text-bold">{{ commentFirstChild.username }}</span> le {{ commentFirstChild.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                                <p>{{ commentFirstChild.content }}</p>
                                                <p><i class="glyphicon glyphicon-alert"></i> {{ commentFirstChild.report }}</a></p>
                                                <p><a href="#" class="reportComment color-red" onclick="deleteComment({{ commentFirstChild.id }})">Supprimer ce commentaire</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mg-l-50">
                                        {# Third loop #}
                                        {% for commentSecondChild in commentFirstChild.children %}
                                            <div id="{{ commentSecondChild.id }}">
                                                <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                                <div class="col-md-10 mg-b-50">
                                                    <div class="background-color-clouds pd-10">
                                                        <p class="mg-0">Commentaire de <span class="text-bold">{{ commentSecondChild.username }}</span> le {{ commentSecondChild.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                                        <p>{{ commentSecondChild.content }}</p>
                                                        <p><i class="glyphicon glyphicon-alert"></i> {{ commentSecondChild.report }}</a></p>
                                                        <p><a href="#" class="reportComment color-red" onclick="deleteComment({{ commentSecondChild.id }})">Supprimer ce commentaire</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mg-l-50">
                                                {# Fourth loop #}
                                                {% for commentThirdChild in commentSecondChild.children %}
                                                    <div id="{{ commentThirdChild.id }}">
                                                        <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                                                        <div class="col-md-10 mg-b-50">
                                                            <div class="background-color-clouds pd-10">
                                                                <p class="mg-0">Commentaire de <span class="text-bold">{{ commentThirdChild.username }}</span> le {{ commentThirdChild.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                                                <p>{{ commentThirdChild.content }}</p>
                                                                <p><i class="glyphicon glyphicon-alert"></i> {{ commentThirdChild.report }}</a></p>
                                                                <p><a href="#" class="reportComment color-red" onclick="deleteComment({{ commentThirdChild.id }})">Supprimer ce commentaire</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {# End Fourth loop #}
                                            </div>
                                        {% endfor %}
                                        {# End Third loop #}
                                    </div>
                                {% endfor %}
                                {# End Second loop #}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {# End First loop #}
                </div>
                <div class="tab-pane fade" id="profile">
                    <div class="col-md-12"><h3>{{ commentReport|length }} Commentaire{% if commentReport|length > 1 %}s{% endif %}</h3></div>
                    {% for comment in commentReport %}
                        <div class="col-md-2"><img src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
                        <div class="col-md-10 mg-b-50">
                            <div class="background-color-clouds pd-10">
                                <p class="mg-0">Commentaire de <span class="text-bold">{{ comment.username }}</span> le {{ comment.getCreatedAt()|date("d/m/Y H:i") }}</p>
                                <p>{{ comment.content }}</p>
                                <p><i class="glyphicon glyphicon-alert"></i> {{ comment.report }}</a></p>
                                <p><a href="#" class="reportComment color-red" onclick="deleteComment({{ comment.id }})">Supprimer ce commentaire</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        {# Comments section End 2nd row #}

    </div>
    {# End container #}
{% endblock %}

{% block script %}
    <script type="text/javascript"></script>
    <script src="{{ asset('js/tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
{% endblock %}